<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.financial.management.dao.AccountingLogDao">
  <resultMap id="BaseResultMap" type="com.pro.financial.management.dao.entity.AccountingLogEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="receivement_id" jdbcType="INTEGER" property="receivementId" />
    <result column="voucher_no" jdbcType="VARCHAR" property="voucherNo" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, receivement_id, state, remark, create_user, ctime
  </sql>
</mapper>