<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.financial.management.dao.ExpenditureDao">
  <resultMap id="BaseResultMap" type="com.pro.financial.management.dao.entity.ExpenditureEntity">
    <id column="expenditure_id" jdbcType="INTEGER" property="expenditureId" />
    <result column="numbering" jdbcType="VARCHAR" property="numbering" />
    <result column="expenditure_type" jdbcType="INTEGER" property="expenditureType" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="expenditure_method_id" jdbcType="INTEGER" property="expenditureMethodId" />
    <result column="expenditure_type_id" jdbcType="INTEGER" property="expenditureTypeId" />
    <result column="expenditure_purpose_id" jdbcType="INTEGER" property="expenditurePurposeId" />
    <result column="expenditure_purpose_content" jdbcType="VARCHAR" property="expenditurePurposeContent" />
    <result column="expenditure_money" jdbcType="DECIMAL" property="expenditureMoney" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="beneficiary_unit" jdbcType="VARCHAR" property="beneficiaryUnit" />
    <result column="beneficiary_number" jdbcType="VARCHAR" property="beneficiaryNumber" />
    <result column="province" jdbcType="INTEGER" property="province" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <result column="beneficiary_bank" jdbcType="VARCHAR" property="beneficiaryBank" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="is_effective" jdbcType="INTEGER" property="isEffective" />
    <result column="co_name" jdbcType="VARCHAR" property="coName" />
    <association property="dataSource" resultMap="com.pro.financial.user.dao.DataSourceDao.BaseResultMap"/>
    <association property="project" resultMap="com.pro.financial.management.dao.ProjectDao.BaseResultMap"/>
    <association property="expenditureMethod" resultMap="com.pro.financial.management.dao.ExpenditureMethodDao.BaseResultMap"/>
    <association property="expenditurePurpose" resultMap="com.pro.financial.management.dao.ExpenditurePurposeDao.BaseResultMap"/>
    <association property="expenditureTypeEntity" resultMap="com.pro.financial.management.dao.ExpenditureTypeDao.BaseResultMap"/>
  </resultMap>
  <sql id="Base_Column_List">
    expenditure_id, numbering, expenditure_type, company_id, project_id, expenditure_method_id, expenditure_type_id,
    expenditure_purpose_id, expenditure_purpose_content, expenditure_money, state, remark, 
    beneficiary_unit, beneficiary_number, province, city, beneficiary_bank, create_user, 
    ctime, update_user, utime, is_effective
  </sql>
  <select id="statistics" resultMap="BaseResultMap">
    select * from expenditure e
    left join expenditure_method em
    using (expenditure_method_id)
    left join expenditure_project ep
    using (expenditure_id)
    left join expenditure_purpose epu
    using (expenditure_purpose_id)
    left join expenditure_type pt
    using (expenditure_type_id)
    left join project p
    on p.project_id = ep.project_id
    left join project_data_source pds
    on p.project_id = pds.project_id
    left join data_source dt
    using (data_source_id)
    left join company c on e.company_id = c.company_id
    where 1=1
    <if test="applyUser != null and applyUser != ''">
        AND e.create_user LIKE "%${applyUser}%"
    </if>
    <if test="attribute != null and attribute != ''">
      AND dt.data_source_name = #{attribute}
    </if>
    <if test="company != null and company != ''">
      AND e.company_id = #{company}
    </if>
    <if test="projectNo != null and projectNo != ''">
      AND (e.numbering like "%${projectNo}%" or p.name like "%${projectNo}%")
    </if>
    <if test="purpose != null and purpose != ''">
      AND epu.expenditure_purpose_name = #{purpose}
    </if>
    <if test="state != null and state != ''">
      AND e.state = #{state}
    </if>
    <if test="beneficiaryUnit != null and beneficiaryUnit != ''">
      AND e.beneficiary_unit = #{beneficiaryUnit}
    </if>
    <if test="startDt != null  and endDt != null">
      AND e.ctime > #{startDt}
      AND e.ctime <![CDATA[ < ]]> #{endDt}
    </if>
    order by expenditure_id desc
  </select>

  <select id="searchList" resultType="com.pro.financial.management.dao.entity.ExpenditureEntity">
    select * from expenditure e
    left join `user` u on e.create_user = u.user_id
    left join expenditure_method using (expenditure_method_id)
    left join expenditure_purpose using (expenditure_purpose_id)
    left join expenditure_type using (expenditure_type_id)
    left join company using (company_id)
    left join project p using (project_id)
    where 1=1
    and is_effective = 1
    <if test="projectId != null and projectId != ''">
      and e.project_id = #{projectId}
    </if>
    <if test="companyId != null and companyId !=''">
      and e.company_id = #{companyId}
    </if>
    <if test="numbering != null and numbering !=''">
      and e.numbering like "%${numbering}%"
    </if>
    <if test="expenditureMethodId != null and expenditureMethodId !=''">
      and e.expenditure_method_id = #{expenditureMethodId}
    </if>
    <if test="expenditureTypeId != null and expenditureTypeId !=''">
      and e.expenditure_type_id = #{expenditureTypeId}
    </if>
    <if test="beneficiaryUnit != null and beneficiaryUnit !=''">
      and e.beneficiary_unit like "%${beneficiaryUnit}%"
    </if>
    <if test="state != null and state !=''">
      and e.state = #{state}
    </if>
    <if test="expenditureAuditLog != null and expenditureAuditLog !=''">
      and e.expenditure_audit_log = #{expenditureAuditLog}
    </if>
    <if test="expenditurePurposeId != null and expenditurePurposeId !=''">
      and e.expenditure_purpose_id = #{expenditurePurposeId}
    </if>
    <if test="createUser != null and createUser !=''">
      and u.username like "%${createUser}%
    </if>
    <if test="keyWord != null and keyWord != ''">
      and (u.username like "%${keyWord}% or e.numbering like "%${keyWord}% or p.name like "%${keyWord}% )
    </if>
    <if test="startDt != null  and endDt != null">
      AND e.ctime > #{startDt}
      AND e.ctime <![CDATA[ < ]]> #{endDt}
    </if>
    order by expenditure_id desc
  </select>
</mapper>