<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.financial.management.dao.ExpenditureAuditLogDao">
  <resultMap id="BaseResultMap" type="com.pro.financial.management.dao.entity.ExpenditureAuditLogEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="expenditure_id" jdbcType="INTEGER" property="expenditureId" />
    <result column="audit_type" jdbcType="INTEGER" property="auditType" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, expenditure_id, audit_type, create_user, ctime, state
  </sql>
</mapper>