<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.financial.management.dao.ProjectDao">
    <resultMap id="BaseResultMap" type="com.pro.financial.management.dao.entity.ProjectEntity">
        <id column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="fullname" jdbcType="VARCHAR" property="fullname"/>
        <result column="start_date" jdbcType="DATE" property="startDate"/>
        <result column="end_date" jdbcType="DATE" property="endDate"/>
        <result column="estincome" jdbcType="DECIMAL" property="estincome"/>
        <result column="budget" jdbcType="DECIMAL" property="budget"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="auditing_state" jdbcType="INTEGER" property="auditingState"/>
        <result column="sale_commis_state" jdbcType="INTEGER" property="saleCommisState"/>
        <result column="settlement_state" jdbcType="INTEGER" property="settlementState"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
        <result column="utime" jdbcType="TIMESTAMP" property="utime"/>
    </resultMap>
    <sql id="Base_Column_List">
    project_id, code, name, fullname, start_date, end_date, estincome, budget, description, state, auditing_state,
    sale_commis_state, settlement_state, create_user, ctime, update_user, utime
  </sql>

    <select id="getList" resultType="com.pro.financial.management.dao.entity.ProjectEntity">
        select * from (
        SELECT
        p.*,
        u.username salesName,
        u1.username managerName,
        (SELECT SUM(amount * take_time) FROM project_task WHERE task_relation_id IN (SELECT task_relation_id FROM project_task_relation WHERE project_id = p.project_id) AND `status` = 0 AND task_status = "00") takeTime,
        (
        SELECT
        GROUP_CONCAT( u.username )
        FROM
        project_user pu
        LEFT JOIN `user` u ON pu.user_id = u.user_id
        WHERE
        pu.type = 3
        AND pu.project_id = p.project_id
        ) userNames
        FROM
        project p
        LEFT JOIN project_user pu ON p.project_id = pu.project_id
        AND pu.type = 1
        LEFT JOIN `user` u ON pu.user_id = u.user_id
        LEFT JOIN project_user pu1 ON p.project_id = pu1.project_id
        AND pu1.type = 2
        LEFT JOIN `user` u1 ON pu1.user_id = u1.user_id
        <if test="ids != null">
            where p.project_id in
            <foreach collection='ids' item='id' index='index' separator=',' open='(' close=')'>
                #{id}
            </foreach>
        </if>
        ) a
        where 1=1
        <if test="projectNo !=  null and projectNo != ''">
            and a.code LIKE "%${projectNo}%"
        </if>
        <if test="projectName !=  null and projectName != ''">
            and a.name LIKE "%${projectName}%"
        </if>
        <if test="auditingState != null and auditingState != '' and auditingState == '1'">
            and a.auditing_state = 1
        </if>
        <if test="auditingState != null and auditingState != '1'">
            and a.auditing_state  <![CDATA[ <> ]]> 1
        </if>
        <if test="state !=  null and state != ''">
            and a.state =#{state}
        </if>
        <if test="saleCommisState !=  null and saleCommisState != ''">
            and a.sale_commis_state =#{saleCommisState}
        </if>
        <if test="settlementState !=  null and settlementState != ''">
            and a.settlement_state =#{settlementState}
        </if>
        <if test="managerName !=  null and managerName != ''">
            and a.managerName LIKE "%${managerName}%"
        </if>
        <if test="salesName !=  null and managerName != ''">
            and a.salesName LIKE "%${salesName}%"
        </if>
        <if test="userNames !=  null and userNames != ''">
            and a.userNames LIKE "%${userNames}%"
        </if>
        <if test="startDate !=  null and endDate != null">
            and a.ctime > #{startDate}
            and a.ctime <![CDATA[ < ]]> #{endDate}
        </if>
        order by a.project_id desc
        <if test="offset != null and limit != 0">
            LIMIT ${offset} , ${limit}
        </if>
    </select>

    <select id="getCount" resultType="int">
        select count(*) from (
        SELECT
        p.*,
        u.username salesName,
        u1.username managerName,
        (SELECT SUM(amount * take_time) FROM project_task WHERE task_relation_id IN (SELECT task_relation_id FROM project_task_relation WHERE project_id = p.project_id) AND `status` = 0 AND task_status = "00") takeTime,
        (
        SELECT
        GROUP_CONCAT( u.username )
        FROM
        project_user pu
        LEFT JOIN `user` u ON pu.user_id = u.user_id
        WHERE
        pu.type = 3
        AND pu.project_id = p.project_id
        ) userNames
        FROM
        project p
        LEFT JOIN project_user pu ON p.project_id = pu.project_id
        AND pu.type = 1
        LEFT JOIN `user` u ON pu.user_id = u.user_id
        LEFT JOIN project_user pu1 ON p.project_id = pu1.project_id
        AND pu1.type = 2
        LEFT JOIN `user` u1 ON pu1.user_id = u1.user_id
        <if test="ids != null">
            where p.project_id in
            <foreach collection='ids' item='id' index='index' separator=',' open='(' close=')'>
                #{id}
            </foreach>
        </if>
        ) a
        where 1=1
        <if test="projectNo !=  null and projectNo != ''">
            and a.code LIKE "%${projectNo}%"
        </if>
        <if test="projectName !=  null and projectName != ''">
            and a.name LIKE "%${projectName}%"
        </if>
        <if test="auditingState != null and auditingState != '' and auditingState == '1'">
            and a.auditing_state = 1
        </if>
        <if test="auditingState != null and auditingState != '1'">
            and a.auditing_state  <![CDATA[ <> ]]> 1
        </if>
        <if test="state !=  null and state != ''">
            and a.state =#{state}
        </if>
        <if test="saleCommisState !=  null and saleCommisState != ''">
            and a.sale_commis_state =#{saleCommisState}
        </if>
        <if test="settlementState !=  null and settlementState != ''">
            and a.settlement_state =#{settlementState}
        </if>
        <if test="managerName !=  null and managerName != ''">
            and a.managerName LIKE "%${managerName}%"
        </if>
        <if test="salesName !=  null and managerName != ''">
            and a.salesName LIKE "%${salesName}%"
        </if>
        <if test="userNames !=  null and userNames != ''">
            and a.userNames LIKE "%${userNames}%"
        </if>
        <if test="startDate !=  null and endDate != null">
            and a.ctime > #{startDate}
            and a.ctime <![CDATA[ < ]]> #{endDate}
        </if>
        order by a.project_id desc
    </select>

    <select id="statistics" resultType="com.pro.financial.management.dao.entity.ProjectEntity">
        SELECT p.project_id, p.name,p.code , p.fullname, u.username managerName, p.estincome,
        (SELECT SUM(settlement_income) FROM settlement WHERE project_id = p.project_id and state = 1 ) settlementIncome,
        (SELECT SUM(re.cny_money) FROM revenue re LEFT JOIN receivement r on re.receivement_id = r.id WHERE r.receivement_type_id in (1,2,3) and re.project_id = p.project_id) relRevenue,
        (SELECT SUM(cny_money) FROM invoice WHERE project_id = p.project_id) receivable
        from project p
        LEFT JOIN project_data_source pds USING(project_id)
        LEFT JOIN data_source ds USING(data_source_id)
        LEFT JOIN project_user pu ON pu.project_id = p.project_id AND type = 2
        LEFT JOIN `user` u USING(user_id)
        where 1=1
        <if test="state !=  null and state != ''">
            and p.state = #{state}
        </if>
        <if test="dataSourceId !=  null and dataSourceId != ''">
            and pds.data_source_id = #{dataSourceId}
        </if>
        <if test="keyWord !=  null and keyWord != ''">
            and (p.name like "%${keyWord}%" or p.code like "%${keyWord}%" or ds.data_source_name like "%${keyWord}%" or u.username like "%${keyWord}%")
        </if>
        <if test="startDt !=  null and endDt != null">
            and p.create_datetime > #{startDate}
            and p.create_datetime <![CDATA[ < ]]> #{endDate}
        </if>
        order by p.project_id desc
    </select>

</mapper>