<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.financial.management.dao.ReceivementDao">
    <resultMap id="BaseResultMap" type="com.pro.financial.management.dao.entity.ReceivementEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="receivement_type_id" jdbcType="INTEGER" property="receivementTypeId"/>
        <result column="receivement_money" jdbcType="DECIMAL" property="receivementMoney"/>
        <result column="remitter_method_id" jdbcType="CHAR" property="remitterMethodId"/>
        <result column="remitter" jdbcType="VARCHAR" property="remitter"/>
        <result column="receive_date" jdbcType="TIMESTAMP" property="receiveDate"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
        <result column="utime" jdbcType="TIMESTAMP" property="utime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, company_id, receivement_type_id, receivement_money, remitter_method_id, remitter, 
    receive_date, state, remark, create_user, ctime, update_user, utime
  </sql>
    <select id="getList" resultType="com.pro.financial.management.dao.entity.ReceivementEntity">
        select * from receivement
        left join company using(company_id)
        left join receivement_type using(receivement_type_id)
        left join remitter_method using(remitter_method_id)
        where 1=1
        <if test="ids != null and ids !=''">
            id in
            <foreach item='item' index='index' collection='ids' open='(' separator=',' close=')'>#{item}</foreach>
        </if>
        <if test="companyId != null and companyId != ''">
            AND company_id = #{companyId}
        </if>
        <if test="receivementTypeId != null and receivementTypeId != ''">
            AND receivement_type_id = #{receivementTypeId}
        </if>
        <if test="remitterMethodId != null and remitterMethodId != ''">
            AND remitter_method_id = #{remitterMethodId}
        </if>
        <if test="remitter != null and remitter != ''">
            AND remitter like "%${remitter}%"
        </if>
        <if test="startDate !=  null and endDate != null">
            and receive_date > #{startDate}
            and receive_date <![CDATA[ < ]]> #{endDate}
        </if>
        and receivement.state <![CDATA[ <> ]]> 5
        order by id desc
        <if test="offset != null and limit != 0">
            LIMIT ${offset} , ${limit}
        </if>
    </select>

    <select id="getCount" resultType="int">
        select count(*) from receivement
        left join company using(company_id)
        left join receivement_type using(receivement_type_id)
        left join remitter_method using(remitter_method_id)
        where 1=1
        <if test="companyId != null and companyId != ''">
            AND company_id = #{companyId}
        </if>
        <if test="receivementTypeId != null and receivementTypeId != ''">
            AND receivement_type_id = #{receivementTypeId}
        </if>
        <if test="remitterMethodId != null and remitterMethodId != ''">
            AND remitter_method_id = #{remitterMethodId}
        </if>
        <if test="remitter != null and remitter != ''">
            AND remitter like "%${remitter}%"
        </if>
        <if test="startDate !=  null and endDate != null">
            and receive_date > #{startDate}
            and receive_date <![CDATA[ < ]]> #{endDate}
        </if>
        and receivement.state <![CDATA[ <> ]]> 5
    </select>
    <update id="update">
        update receivement set company_id = #{entity.companyId}, receivement_type_id = #{entity.receivementTypeId}, receivement_money = #{entity.receivementMoney},
             remitter_method_id = #{entity.remitterMethodId}, remitter = #{entity.remitter}, receive_date = #{entity.receiveDate},
             remark = #{entity.remark}, update_user = #{entity.updateUser}, utime = #{entity.utime} where id = #{entity.id}
    </update>

    <select id="statistics" resultType="com.pro.financial.management.dao.entity.ReceivementEntity">
        select r.* from receivement r
        LEFT JOIN revenue re on r.id = re.receivement_id
        LEFT JOIN project p USING (project_id)
        WHERE 1=1
        and re.`delete` = 1
        <if test="companyId != null and companyId != ''">
            AND r.company_id = #{companyId}
        </if>
        <if test="dataSourceId != null and dataSourceId != ''">
            AND r.data_source_id = #{dataSourceId}
        </if>
        <if test="revenueTypeId != null and revenueTypeId != ''">
            AND r.revenue_type_id = #{revenueTypeId}
        </if>
        <if test="projectName != null and projectName != ''">
            AND p.`name` like "%${projectName}%"
        </if>
        <if test="startDate !=  null and endDate != null">
            and r.receive_date > #{startDate}
            and r.receive_date <![CDATA[ < ]]> #{endDate}
        </if>
    </select>
    <select id="statisticsDetail" resultType="com.pro.financial.management.dao.entity.ReceivementEntity">
        SELECT
        r.id,
        c.co_name,
        r.remitter,
        rt.receivement_type_name,
        r.receivement_money,
        '0.00CNY' foreignMoney,
        r.receive_date,
        r.remark,
        a.voucher_no,
        p.`name` projectName,
        p.code projectNo,
        re.revenue_no,
        ret.revenue_type_name,
        ds.data_source_name,
        'K' revenueDept,
        (select cny_money FROM revenue LEFT JOIN revenue_type USING (revenue_type_id) WHERE id = re.id and
        revenue_type.remark != 'Y') cny_money,
        (select cny_money FROM revenue LEFT JOIN revenue_type USING (revenue_type_id) WHERE id = re.id and
        revenue_type.remark = 'Y') deposit,
        username,
        '不开票' invoice,
        re.ctime
        FROM
        receivement r
        LEFT JOIN company c USING ( company_id )
        LEFT JOIN receivement_type rt USING ( receivement_type_id )
        LEFT JOIN revenue re ON re.receivement_id = r.id
        LEFT JOIN project p USING ( project_id )
        LEFT JOIN data_source ds USING ( data_source_id )
        LEFT JOIN revenue_type ret USING ( revenue_type_id )
        LEFT JOIN `user` ON re.create_user = `user`.user_id
        LEFT JOIN accounting_log a ON r.id = a.receivement_id
        where 1=1
        and re.id is not null
        and re.delete = 1
        <if test="startDate !=  null and endDate != null">
            and r.receive_date > #{startDate}
            and r.receive_date <![CDATA[ < ]]> #{endDate}
        </if>
    </select>
</mapper>