<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.financial.management.dao.RevenueDao">
  <resultMap id="BaseResultMap" type="com.pro.financial.management.dao.entity.RevenueEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="revenue_no" jdbcType="VARCHAR" property="revenueNo" />
    <result column="receivement_id" jdbcType="INTEGER" property="receivementId" />
    <result column="revenue_type_id" jdbcType="INTEGER" property="revenueTypeId" />
    <result column="data_source_id" jdbcType="INTEGER" property="dataSourceId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="cny_money" jdbcType="DECIMAL" property="cnyMoney" />
    <result column="delete" jdbcType="INTEGER" property="delete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, receivement_id, revenue_type_id, data_source_id, project_id, cny_money, delete, remark, create_user,
    ctime, update_user, utime
  </sql>
  <select id="searchList" resultType="com.pro.financial.management.dao.entity.RevenueEntity">
    select re.id, re.revenue_no, co_name, remitter_method_name, r.remitter, receivement_type_name, data_source_name, re.cny_money, u.username, re.ctime, p.name projectName, p.code  projectNo
    from revenue re
    left join receivement r on re.receivement_id = r.id
    left join `user` u on r.create_user = u.user_id
    LEFT JOIN company USING (company_id)
    LEFT JOIN remitter_method USING (remitter_method_id)
    LEFT JOIN receivement_type USING (receivement_type_id)
    LEFT JOIN data_source USING (data_source_id)
    left join project p using (project_id)
    LEFT JOIN revenue_type rt USING(revenue_type_id)
    where 1=1
    and re.delete = 1
--     非押金类型
    <if test="revenueTypeId != null and revenueTypeId != ''">
      and rt.remark != "Y"
    </if>
--     押金类型
    <if test="revenueTypeId == null or revenueTypeId == ''">
      and rt.remark = "Y"
    </if>
    <if test="projectId != null and projectId != ''">
      and re.project_id = #{projectId}
    </if>
    <if test="revenueNo != null and revenueNo != ''">
      and re.revenue_no = #{revenueNo}
    </if>
    <if test="remitterMethodId != null and remitterMethodId != ''">
      and r.remitter_method_id = #{remitterMethodId}
    </if>
    <if test="receivementTypeId != null and receivementTypeId != ''">
      and r.receivement_type_id = #{receivementTypeId}
    </if>
    <if test="companyId != null and companyId != ''">
      and r.company_id = #{companyId}
    </if>
    <if test="remitter != null and remitter != ''">
      and r.remitter like "%${remitter}%"
    </if>
    <if test="createUser != null and createUser != ''">
      and u.username like "%${createUser}%"
    </if>
    <if test="projectName != null and projectName != ''">
      and p.name like "%${projectName}%"
    </if>
    <if test="projectNo != null and projectName != ''">
      and p.code like "%${projectName}%"
    </if>
    <if test="startDt != null  and endDt != null">
      AND re.ctime > #{startDt}
      AND re.ctime <![CDATA[ < ]]> #{endDt}
    </if>
  </select>
</mapper>