<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.financial.management.dao.SubscriptionLogDao">
    <resultMap id="BaseResultMap" type="com.pro.financial.management.dao.entity.SubscriptionLogEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="receivement_id" jdbcType="INTEGER" property="receivementId"/>
        <result column="revenue_type_id" jdbcType="INTEGER" property="revenueTypeId"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="receivement_money" jdbcType="DECIMAL" property="receivementMoney"/>
        <result column="subscription_date" jdbcType="TIMESTAMP" property="subscriptionDate"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, receivement_id, revenue_type_id, project_id, receivement_money, subscription_date, state,
    remark, create_user, ctime
  </sql>
<!--    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.pro.financial.management.dao.entity.ReceivementEntity">-->
<!--    insert into subscription_log (`receivement_id`, `revenue_type_id`, project_id, `receivement_money`, `subscription_date`, `state`, `remark`, `create_user`, `ctime`) VALUES-->
<!--            ( #{receivementId}, #{revenueTypeId}, #{projectId}, #{receivementMoney}, #{subscriptionDate}, #{state}, #{remark}, #{createUser}, #{ctime})-->
<!--  </insert>-->

    <select id="getListByReceivementIdsnew" resultType="com.pro.financial.management.dao.entity.SubscriptionLogEntity">
        select sl.*, rt.revenue_type_name, rt.remark revenueRemark from subscription_log sl
        left join project p using(project_id)
        left join project_data_source pds using(project_id)
        left join revenue_type rt using (revenue_type_id)
        where receivement_id in
        <foreach item='item' index='index' collection='receivementIds' open='(' separator=',' close=')'>
         #{item}
        </foreach>
        <if test="dataSourceId != null and dataSourceId != ''">
            and pds.data_source_id = #{dataSourceId}
        </if>
        <if test="projectName != null and dataSourceId != ''">
            and (p.name like "%${projectName}%" or p.code like "%${projectName}%")
        </if>
        <if test="revenueTypeId != null and revenueTypeId != ''">
            and sl.revenue_type_id = #{revenueTypeId}
        </if>

    </select>
</mapper>